* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(249, 244, 212, 1);
    background: rgba(44, 37, 32, 0.9);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(249, 244, 212, 0.4);
	transition-property: background, color, padding, text-shadow;
	transition-duration: .2s;
	transition-timing-function: ease-out;
}

#workspaces button:hover{
    background: rgba(0,0,0, 0.15);
    color: rgba(249,244,212,0.6);
}

#workspaces button.visible {
    color:      rgba(249, 224, 212, 1);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#clock {
    margin: 0px 10px 0px 4px;
    min-width: 125px;
}

#language {
    min-width: 23px;
}

#power-profiles-daemon {
    min-width: 25px;
    margin: 0px 0px 0px 5px;
}

#battery {
    margin: 0px 0px 0px 5px;
}

#network {
    margin: 0px 0px 0px 6px;
}

#bluetooth {
    margin: 0px 0px 0px 5px;
}

#custom-volume.speakers {
    min-width: 25px;
}

#custom-volume.headphones {
    min-width: 40px
}

#custom-storage {
    margin: 0px 6px 0px 8px;
}

#cpu {
    min-width: 55px;
}
