* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(44, 37, 32, 0.95);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#custom-storage {
    margin: 0px 10px 0px 12px;
    min-width: 0px
}

#cusstom-volume {
    margin: 0px 14px 0px 5px;
}

#network {
    margin: 0px 0px 0px 8px;
}
#language {
    margin: 0px 4px 0px 0px;
    min-width: 20px;
}

#mode, #battery, #cpu, #memory, #cpu, #bluetooth,#tray, #power-profiles-daemon{
    margin:     0px 7px 0px 7px;
}

#clock {
    margin:     0px 10px 0px 4px;
    min-width:  120px;
}


#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

