window {
    background-color: #ECEBD1;
    
    font-family: "Noto Sans Balinese";
    font-size: 24px;

    border: 4px solid #212120;
}

#outer-box {
    border: 4px solid #212120;
    color: #212120;
}

#input {
    border: none;
    background-color: #ECEBD1;
    color: #212120;
    caret-color: #212120;

    border-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #212120;
}

/* Disable the blue border when typing */
#input:focus {
    box-shadow: none;
}

#text {
    color: #212120;
}

#img {
    margin-left: 12px;
    margin-right: 12px;
}

#entry:selected {
    background-color: #212120;
    border: none;
}

#text:selected {
    color: #ECEBD1;
}

